:root {
    --main-color: black;
    --main-background-color: lightgrey;

    --sidebar-color: darkblue;
    --sidebar-background-color: white;  
    --sidebar-color-hover: black;
    --sidebar-background-color-hover: white;  

    --header-color: black;
    --header-background-color: #ddddff; 

    --topbar-color: darkblue;
    --topbar-background-color: lightgrey;   
    --topbar-color-hover: black;
    --topbar-background-color-hover: lightgrey;

    --article-color: black;
    --article-link-color: blue;
    --article-header-color: darkblue; 
    --article-subheader-color: #000066; 
    --article-background-color: aliceblue;
    --article-line-color: lightgrey;             /* Table borders, horizontal rules */

    /* Alternative colors, foreground, background and middtone . Useful for plugins */
    --alt-color-bg1: #bbffbb;
    --alt-color-bg2: #b0b0ff;
    --alt-color-bg3: #ffb0b0;
    --alt-color-bg4: #ffd4c0;
    --alt-color-bg5: #ff90ff;
    --alt-color-bg6: #d0d0d0;
    --alt-color-fg1: #101030;
    --alt-color-fg2: #400010;
    --alt-color-fg3: #202050;
    --alt-color-fg4: #300050;
    --alt-color-fg5: #603010;
    --alt-color-fg6: #101010;
    --alt-color-md1: #00ff00;
    --alt-color-md2: #0000ff;
    --alt-color-md3: #d050d0;
    --alt-color-md4: #ffa0a0;
    --alt-color-md5: #d0ffd0;
    --alt-color-md6: #606060;
    
    --search-title-color: black;
    --search-link-color: blue;
    --search-preview-color: grey;

    --figure-background-color: lightgrey;
    --figure-popout-background-color: rgba(0, 0, 0, 0.8);
    --figure-border-color: darkgrey;
    --figure-caption-color: black;
    --figure-image-border-color: aliceblue;
}
